/****************************

Packers.css

A custom user stylesheet which gently alters a webpage to a Green Bay Packers theme.

****************************/

@import "common";

/* Google */

.gbqfqw.gbqfqw,
.gbqfqw.gbqfqwf.gbqfqwf {
  border-color: $yellow !important;
}

.gbqfb {
  background: $yellow !important;
}

.gb_Lb {
  background-color: rgba(42,67,58,0.9) !important;
}

a.gb_d,
a.gb_A,
.gb_Fa,
.hdtb_mitem.hdtb_msel {
  color: $yellow !important;
}

.hdtb_mitem.hdtb_msel {
  border-bottom-color: $yellow !important;
}
