/****************************

Packers.css

A custom user stylesheet which gently alters a webpage to a Green Bay Packers theme.

Colors -

Green: #2a433a
Yellow: #ffc20e

****************************/

/* Facebook */

._4f7n {
  background-color: #2a433a !important;
  background-image: none !important;

  border-bottom-color: #ffc20e !important;
  border-bottom-width: 4px !important;
}

.uiContextualLayerParent {
  padding-top: 8px;
}

.jewelButton,
._59fc,
._1xn5 {
  -webkit-filter: brightness(2.3) hue-rotate(180deg);
}
