/****************************

Packers.css

A custom user stylesheet which gently alters a webpage to a Green Bay Packers theme.

Colors -

Green: #2a433a
Yellow: #ffc20e

****************************/

/* GitHub */

.header {
  background-color: #2a433a !important;

  border-bottom-color: #ffc20e !important;
  border-bottom-width: 4px !important;
}

.header-logo-invertocat,
.header-nav-link {
  color: #ffc20e !important;
}

.header-nav-link {
  font-weight: 300 !important;
}

.header-logo-invertocat:hover,
.header-nav-link:hover {
  color: #ffffff !important;
}
