/****************************

Packers.css

A custom user stylesheet which gently alters a webpage to a Green Bay Packers theme.

Colors -

Green: #2a433a
Yellow: #ffc20e

****************************/

/* Google */

.gbqfqw.gbqfqw,
.gbqfqw.gbqfqwf.gbqfqwf {
  border-color: #ffc20e !important;
}

.gbqfb {
  background: #ffc20e !important;
}

.gb_Lb {
  background-color: rgba(42,67,58,0.9) !important;
}

a.gb_d,
a.gb_A,
.gb_Fa,
.hdtb_mitem.hdtb_msel {
  color: #ffc20e !important;
}

.hdtb_mitem.hdtb_msel {
  border-bottom-color: #ffc20e !important;
}
